body {
  background-color: #006699
}
h1{
  background-color: gray;
  padding: 10px;
  width: 800px;
  text-align: center;
  margin: auto;
  color: red;
  font-size: 35px;
}
h2{
  background-color: gray;
  padding: 10px;
  width: 800px;
  text-align: center;
  margin: auto;
  color: black;
  font-size: 25px;
}
body{
  text-align: center;
  color: orange;
  font-size: 22px;
}
.button{
  text-decoration: none;
  background-color: white;
  color: blue;
  font-family: Courier;
  text-align: center;
  margin-right: 5px;
  padding: 10px;
}
